.footer     
    .container
        .footer__copyright © 2018 «LoremIpsum.net» Все права защищены.
        .footer__payment-systems
            .footer__elem 
                +icon('qiwi') 
                span QIWI wallet
            .footer__elem 
                +icon('yandex') 
                span Yandex Money
            .footer__elem 
                +icon('web') 
                span Web Money
        .footer__contact
            a(href='#').footer__elem 
                +icon('email') 
                span info@ipsum228.com
            a(href='#').footer__elem  
                +icon('BK') 
                span Мы вконтакте
