.header 
    .container
        .header__logo LoremIpsum.
            span.header__logo_blue Net
        .header__burger
            span 
            span 
            span
        ul.header__menu
            li
                a.menu__item.menu__item_active(href="#") Бизнес
            li 
                a.menu__item(href="#") О нас
            li 
                a.menu__item(href="#") Цены
            li 
                a.menu__item(href="#") Оформить заказ