.main-screen 
    .container
        .main-screen__information
            .text 
                span.text__title 
                    span.text__title_blue Lorem ipsum   
                    |&ensp;dolor sit amet consectetur 
                    span.text__title_blue adipiscing
                .text__list
                    .text__list_name At vero eos et accusamus et iusto odio dignissimos ducimus!
                    ul 
                        li.text__list_elem Totam rem aperiam eaque ipsa
                        li.text__list_elem Sit voluptatem accusantium doloremque laudantium
                        li.text__list_elem Sed ut perspiciatis, unde omnis iste natus error
            .main-screen__btns 
                a(href="#").btn.btn_blue 
                    span Заказать
                a(href="#").btn 
                    span Подробнее