$font: "lato";
$fontSizeMain: 16;

//COLOR
$black: black;
$black-text:#272733;
$btn-text:#2A2B30;
$white: #ffffff;
$blue: #3E9CDC;
$blue-dark:#286690;
$border: #6F6D7B;
$border-light:#C3C3C3;
$bg-input: rgba(255, 255, 255, 0.85);
$bg-block: #3D4050;
